body{
  background-color: black;
}
.app-block {
  gap: 5px;
}
.app-wrapper {
  display: flex;
  margin-top: 5%;
  justify-content: center;
}

.message-button{
  border-radius: 100%;
  text-align: center;
  height: 20px;
  width: 20px;
  cursor: pointer;
}
.message-button.delete{
  background-color: darkred;
}
.message-button.edit{
  background-color: #00ff7c;
}
.button-wrapper {
  display: flex;
  gap: 10px;
}

.lable-wrapper {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 25px;
  background-color: #00ff7c;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  align-items: center;
  justify-content: space-around;
}

.message-wrapper{
  display: grid;
  grid-template-columns: repeat(3, 100px);
  align-items: center;
  justify-content: space-around;
  border-bottom: #00ff7c 2px solid;
}

.messages-block {
  background-color: aliceblue;
  height: 612px;
  width: 612px;
  border-radius: 10px;
}

.description-wrapper {
  display: flex;
  flex-direction: column;
}

.input-border {
  margin-top: 5px;
  border: #00ff7c 2px solid;
  width: 612px;
  border-radius: 10px;
}
.input-border.description {
  height: 100px;
}
